body{
	background: #9F9C99; /*sharkskin*/
}
.nissan
{
	opacity: 0.2;
	display: block;
	width: 100%;
	margin: auto auto;
}
table {
	position: absolute;
	top: 0;

  	border-collapse: collapse;
  	width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #9E1030;
}

tr:hover {background-color:#868179; color:#9E1030}

.h{
	font-size:50px;
	font-family:allerta stancil;
}
.d{
	font-size:40px;
	font-family:allerta stancil;
}