body{
	background: #9F9C99; /*sharkskin*/
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 11.412%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  color:#9E1030;
}

.containerTab {
  height: 585px;
  padding: 50px;
  display:none;
}

.text6{
  color:#d9d9d9;
}
.text5{
  color:#cccccc;
}
.text4{
  color:#bfbfbf;
}
.text3{
  color:#b3b3b3;
}
.text2{
  color:#a6a6a6;
}
.text1{
  color:#999999;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text{
	color: #9E1030;

}

.border{
  margin-left: 60px;
  margin-right:  80px;
}

.border2{
  margin-left: 110px;
  margin-right:  0px;
}